/* General styles */
button {
    background-color: rgb(203, 83, 14);
    height: 50px;
    width: 120px;
}

button:hover {
    color: lime;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
}

.logo {
    position: absolute;
    top: 50%;
    right: 300px;
    transform: translateY(-50%);
    max-width: 100px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #444;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #555;
}

.tab-content {
    padding: 20px;
}

/* Phone section styles */
.android-phones {
    padding: 20px;
}

.android-phones h2 {
    text-align: center;
}

.phone-compartment {
    border: 2px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.phone {
    text-align: center;
}

.phone img {
    max-width: 20%;
    height: auto;
    margin-bottom: 10px;
}

.phone h2 {
    margin-bottom: 10px;
}

.phone ul {
    list-style-type: none;
    padding: 0;
}

.phone ul li {
    margin-bottom: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}